body{
  background-color: rgb(210, 246, 133);
  text-align: center;
}

h1{
  color: blue;
}

p{
  line-height: 15px;
}

button{
  margin-left: 15px;
  color: white;
  background-color: blue;
}

.img{
  height: 200px;
  width: 200px;
  margin-top: 20px;
}
